.title{
    color:rgb(54, 53, 53);
    font-size: 180%;
}

.attempt{
    width: 80%;
}
  
.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.brdrme{
    border: solid 4px rgb(58, 57, 57);
}


