.uploadtitle{
    text-align: center;
    color: rgb(49, 49, 49);
    opacity: 0.6;
}

.centerme{
    /* text-align: center; */
    display: block;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.centerme2{
  /* text-align: center; */
  display: block;
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  /* padding: 10px; */
}

.upldedimg {
    display: block;
    margin: auto;
    width: 50%;
    border: 1.5px solid rgb(136, 134, 134);
    padding: 10px;
}

/* #collectionNumber{
  display: block;
  margin: auto;
} */

/* .moveright{
  display: block;
  margin: auto;
} */

/* .btn-6 {
    background-color: #555555;
    color: rgb(255, 255, 255);
    border: solid 1.5px rgb(44, 42, 42);
    display: block;
    margin: auto;
    padding: 10px;
  }

  .btn-6:hover{
    background-color: #828382; 
  color: rgb(255, 255, 255);
  } */

  /* .redme{
    background-color: rgb(231, 53, 53);
    color: cornsilk;
    margin: auto;
  width: 90%;
  
  padding: 20px;
  text-align: center;
  } */