.senter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color:rgb(61, 60, 60);
    /* background-color:black; */
}

.steps{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color:rgb(61, 60, 60);
    font-size: 750%;
}

.example{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    border: solid rgb(39, 38, 38) 2px;
}

.tryit{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    color:rgb(61, 60, 60);
}

.align{
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* width: 100%; */
    font-size: 190%;
    font-weight: bold;
    color:rgb(61, 60, 60);
}

.form-control{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}


    .button2 {

        background-color: #555555;
        color: rgb(255, 255, 255);
        border: solid 1.5px rgb(44, 42, 42);
        width: 15%;
        border-radius: 8%;
      }
    
      .button2:hover{
        background-color: #828382; /* Green */
      color: rgb(255, 255, 255);
      }
